


<%= render "/layouts/navbar"%>

  
   
<div class="row justify-content-center top56" >
  <div class="container col-sm-2 col-md-10" id="jumbotron1">
       <div class="row justify-content-center d-block d-md-none top17" >
      <button class='col-sm-1 btn btn-success top3 right5'>Inscris toi</button>
      <button class='col-sm-1 btn btn-primary top3'>Se connecter</button>
    </div>
    <div class="row justify-content-center ">
      

    
        <div class= 'col-sm-2 col-md-11 top30 justify-content-center' id='carroussel'>
          <div class="carroussel">
          <%= render "/layouts/carroussel"%>
          </div>
        </div>
    </div>
   <div class="row justify-content-center top17" >
      <button class='col-md-2 btn btn-success d-none d-md-block top3 right5'>Inscris toi</button>
      <button class='col-md-2 btn btn-primary d-none d-md-block top3'>Se connecter</button>
    </div> 
  </div> 
  
</div>







