<%= render "/layouts/navbar"%>


<div class="jumbotron top7 " id="container1">


  <div class='row justify-content-center'>
    <div class="col-md-2">
     
    </div>


  <div class="col-md-8">

    <div class="row justify-content-center">
        <div class= 'col-md'>
          <%= render "/layouts/carroussel"%>
        </div>
    </div>
  </div>


  <div class="col-md-2">

  </div>


</div>
</div> 
  

<%= render "/layouts/footer"%>



