<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Responsive Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- left navigation links -->
      <ul class="navbar-nav mr-auto">

        <!-- active navigation link -->
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <!-- regular navigation link -->
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>

        <!-- more navigation links -->

      </ul>

      <!-- right navigation link -->
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-2">Learn Geometry</h1>
  <p class="lead">Marketing message here.</p>
  <a class="btn btn-lg btn-primary" href="#" role="button">Call to Action »</a>
</div>

<div class="row">
  <!-- wider column -->
  <div class="col-md-8 mb-4">
<div class="row">

  <!-- first nested column -->
  <div class="col-md">
    <h3 class="display-4">Title</h3>
    <p>
      Paragraph text.
    </p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>

  <!-- second nested column -->
  <div class="col-md">
   <h3 class="display-4">Title</h3>
    <p>
      Paragraph text.
    </p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>

  <!-- third nested column -->
  <div class="col-md">
   <h3 class="display-4">Title</h3>
    <p>
      Paragraph text.
    </p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
  </div>
  <!-- narrower column -->
  <div class="col-md-4 mb-4">

    <ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <!-- more links -->
</ul>
    <!-- sidebar links -->
  </div>
</div>


<footer class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="text-center">Design by <a href="#">Zetiz Labs</a></p>
    </div>
  </div>
</footer>