


<%= render "/layouts/navbar"%>

  
   
<div class="row justify-content-center top86" >
  <div class="container  col-md-10 " id="jumbotron1">
       <div class="row d-flex align-items-center d-block d-md-none top17" >
          <button class=' col  btn btn-block top7 button-mobile-sign-up left30 right5'>Inscris toi</button>
          <button class=' col  btn btn-block button-mobile-sign-up  right30 left5'>Se connecter</button>
      </div>
      <div class="row justify-content-center ">
          <div class= 'col-sm-2 col-md-11 top30 justify-content-center' id='carroussel'>
          <div class="carroussel">
          <%= render "/layouts/carroussel"%>
          </div>
          </div>
      r</div>
   <div class="row justify-content-center top17" >
      <button class='col-md-2 btn btn-success d-none d-md-block top3 right5'>Inscris toi</button>
      <button class='col-md-2 btn btn-primary d-none d-md-block top3 '>Se connecter</button>
    </div> 
  </div> 
  
</div>







