/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import "bootstrap";
@import "profil_sidebar.scss";
// @import "home.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');




* {
	margin: 0px;
	padding: 0px;
	font-family: "Roboto", sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


 @media screen and (max-width: 480px) {
#carroussel {
		width: 280px;
    }
#button-mobile-sign-up{
		
		height: 25px;
	}
.btn-block {
    padding: 20px; 
    /* define values in pixels / Percentage or em. whatever suits 
       your requirements */
		}
}

 @media (min-width: 1200px) {

.jumbotron1 {
		

    }

}


#jumbotron1 {

 	background-color: rgb(239,240,241);
    }




.avatar {
	border-radius: 50%;
}

#carroussel {
	height:450px;
	
   margin-left: auto;
   margin-right: auto;

   
;
}



a {
	color: white;
}



.top3 { margin-top: 3px; }
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top50 { margin-top:50px; }
.top56 { margin-top:56px; }
.top60 { margin-top:60px; }
.top86 { margin-top:86px; }

.bottom30 { margin-bottom:30px; }
.right5 { margin-right:5px; }
.right30 { margin-right:30px; }
.left30 { margin-left:30px; }
.left5 { margin-left:5px; }
