// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 @media screen and (max-width: 480px) {
#carroussel {
		width: 280px;
    }
#button-mobile-sign-up{
		
		height: 25px;
	}
.btn-block {
    padding: 20px; 
    /* define values in pixels / Percentage or em. whatever suits 
       your requirements */
		}
}

 @media (min-width: 1200px) {

.jumbotron1 {
		

    }

}